.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(225deg, rgb(254, 172, 94) 0.00%,rgb(199, 121, 208) 50.00%,rgb(75, 192, 200) 100.00%);
}
.home-text {
  color: #ffffff;
  margin: 300px;
  font-size: 500%;
  box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0);
  font-style: italic;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 1.3;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius75);
  text-transform: none;
  text-decoration: none;
}
.home-text:hover {
  font-size: 600%;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-self: center;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.home-image {
  width: auto;
  height: 2rem;
  object-fit: cover;
}
.home-text1 {
  color: rgb(255, 255, 255);
}
.home-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-link {
  display: contents;
}
.home-icon {
  width: 48px;
  height: 48px;
  margin-left: 50px;
  text-decoration: none;
}
.home-link1 {
  display: contents;
}
.home-icon2 {
  width: 48px;
  height: 48px;
  margin-left: 50px;
  text-decoration: none;
}
.home-icon4 {
  width: 50px;
  height: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
@media(max-width: 767px) {
  .home-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-text1 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-text {
    padding: var(--dl-space-space-unit);
    font-size: 600%;
    align-self: center;
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-image {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text1 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
